<!DOCTYPE html>
<html>
<head>
  <title>RailsAppVsRailsEngine</title>
  <%= stylesheet_link_tag    "rails_app_vs_rails_engine/application", media: "all" %>
  <%= javascript_include_tag "rails_app_vs_rails_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
